In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("add.csv")

In [37]:
df.head()

    Actual  Prediction
0      2.0         2.0
13   112.9       112.9
8     68.0        68.0
1      8.0         8.0
15   900.0       900.0

# store feature matrix in x and response target in vector y

In [12]:
x=df[['x','y']]
y=df['sum']

         x       y
0      1.0     1.0
1      4.0     4.0
2      6.0     6.0
3     10.0    10.0
4     30.0    30.0
5     23.0    43.0
6     55.0    80.0
7    100.0    22.0
8     23.0    45.0
9     56.0    78.0
10    13.0    78.0
11   300.0    34.0
12    12.5    56.7
13    23.6    89.3
14    67.8    87.9
15   200.0   700.0
16   203.6    67.9
17   400.0    45.7
18    34.6    56.9
19   400.5   356.0
20    45.7   123.7
21  1000.0  3456.0

# Train/Test split
1. Split data into two part : a training set and a testing set
2. Train the model(s) on training set
3. Test the Model(s) on Testing set

In [20]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)#(for same split)randomset to set x_train data valuefor no change

In [38]:
x_train.head()#it generate random sample at every run

        x      y
5    23.0   43.0
20   45.7  123.7
11  300.0   34.0
3    10.0   10.0
4    30.0   30.0

In [39]:
from sklearn.linear_model import LinearRegression

#we can use any linear regression model bcz we have to work on module
#our traget variable is continuous

In [31]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
#we create linear regression model
model.fit(x_train,y_train)
#to train our model on x_train(inpendent),y_train(dependent) of training set

LinearRegression()

# comparing the result

In [33]:
y_pred=model.predict(x_test)

In [34]:
y_pred#predicted result

array([  2. , 112.9,  68. ,   8. , 900. ])

In [35]:
y_test#actual result

0       2.0
13    112.9
8      68.0
1       8.0
15    900.0
Name: sum, dtype: float64

In [36]:
df=pd.DataFrame({'Actual':y_test,'Prediction':y_pred})
df

    Actual  Prediction
0      2.0         2.0
13   112.9       112.9
8     68.0        68.0
1      8.0         8.0
15   900.0       900.0